.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  padding: 3rem 0;
  max-width: 960px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 24px 0;
}

@media (min-width: 1216px) {
  .container {
    max-width: 1152px;
  }
}

@media (min-width: 1408px) {
  .container {
    max-width: 1344px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 2rem 2rem;
  }
}


