@media (min-width: 1216px) {
  .container {
    max-width: 1152px;
  }
}

@media (min-width: 1408px) {
  .container {
    max-width: 1344px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 2rem 2rem;
  }

  .card {
    min-width: auto;
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    min-width: auto;
  }

  .card_heading {
    flex-direction: column;
  }

  .search-container {
    margin: 30px auto 20px;
  }

  .search-box {
    font-size: 14px;
  }
}

